body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  margin: 10px;
  padding: 5px;
  background-color: cadetblue;
  text-align: center;
  color: white;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
}
.delete {
  background-color: tomato;
  padding: 8px;
  color: white;
  border: none;
  border-radius: 5px;
}
